
.label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
}
.inputStyle{
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: blue;
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}
.requredStyle{
    margin-bottom: 20px;
    color: red;
    margin-top: -18px;
    font-style: italic;
}
.errorsForm {
    display: block;
     width: 300px;
     margin-top: 78px;
     margin-left: 250px;
}
