.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 15px;

}
.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 50px;
    text-decoration: none;
    transition: background-color .2s;
    border-radius: 100%;
    border: 2px solid rgb(0, 130, 222);
    cursor: pointer;

}
.pagination a.active {
    background-color: #007bdd;
    color: blanchedalmond;
    border: 1px solid #7cbdbd;
}
.pagination  a.disabled {
    opacity: 0.2;
}
.pagination a:hover:not(.active){background-color: rgb(37, 118, 146);}