@import url("https://fonts.googleapis.com/css2?family=Montserrat&dispaly=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}
body, input, textarea, select,button {
  font-size: 1.6rem;
  font-family: Mpntserrat,Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "navbar" "main";
  grid-template-rows: 5rem 30rem 1fr;
  grid-template-columns: 1fr;
  height: 100%;
}
header {
  grid-area: header;
  background: #353333;
  color: white;
  display: flex;
  text-align: center;
  padding: 8px;
}
main {
  grid-area: main;
  background: #3c3939;
}



/*Header*/
.mainAvatar{
  width: 162px;
  position: absolute;
  bottom: 390px;
  border-radius: 100%;
  right: 1270px;
  border: 4px solid white;
}
.imageIcon{
  border-radius: 100%;
  height: 35px;
}
.style-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.style-menu li{
  flex:1rem;
  padding-right: 89px;
}
.style-menu a{
  color: white;
  text-decoration: none;
}
.style-menu a:hover{
  color: aqua;
}
navbar{
  grid-area: navbar;

}
.header-image{
  width: 100%;
  height: 300px;
}
/*Content*/
.content{
  display: flex;
  justify-content: center;
  padding:26px;
  height: 4000px;

}
.socia{
  background: #353333;
  margin-right: 20px;
  width: 350px;
  height: 250px;
  border-radius: 13px;
}
.post textarea{
  resize: none;
  width: 500px;
  height: 97px;
  outline: #727070;
  margin-top: 28px;
  margin-left: 60px;
  background: #413c3c;
  color: white;
  font-size: 15px;
  font-weight: lighter;
}
.styleNameUsersPost{
  margin-left: 20px;
  color: #007bdd;
  margin-top: 25px;
  font-size: 19px;
}
.styledata{
  position: relative;
  right: 59px;
  bottom: -19px;
  font-size: 13px;
}
.stylePhotoPost{
  max-width: 65px;
  border-radius: 100%;
  margin-left: 45px;
  margin-top: 20px;
  margin-bottom: 17px;
  border: 2px solid white;
}
.post{
  background: #353333;
  width: 600px;
  height: 200px;
  border-radius: 13px;
}
.textSocial{
  border-bottom: 2px solid aqua;
  color: white;
  padding: 15px;
  padding-bottom: 4px;
  text-align: center;
  font-size: 22px;
}
.socia .google{
  width: 238px;
  height: 30px;
  margin-left: 63px;
  margin-top: 23px;
  background-color: #d02424;
  display: flex;
}
.socia .google img{
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 81%;
  margin-left: 45px;
}
.twitter{
  width: 238px;
  height: 30px;
  margin-left: 63px;
  margin-top: 23px;
  color: white;
  background-color: #04acb3;
  display: flex;
}
.socia .twitter img{
  display: flex;
  justify-content: center;
  width: 35px;
  height: 30px;
  margin-left: 50px;
}


.socia .facebook img{
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 30px;
}
.facebook{
  color: white;
  background-color: #2020ab;
  width: 238px;
  height: 30px;
  margin-left: 63px;
  margin-top: 23px;
  display: flex;
}
.textFacebook, .textTwitter, .textGoogle{
  margin-top: 6px;
  padding-left: 9px;
}
.advertising {
  background: #353333;
  width: 300px;
  height: 200px;
  margin-left: 20px;
}
.advertising img{
  max-width: 300px;
  max-height: 250px;
}
.submitForm{
  margin-left: 443px;
  background-color: #3e3ed7;
  color: white;
  border: 1px;
  padding: 4px;
  padding-left: 34px;
  padding-right: 34px;
  border-radius: 18px;
}
.submitForm active{
  outline: none;
}
.PostUsers{
  margin-top: 59px;

}
.picturesPost{
  width: 516px;
  padding: 9px;
  margin-left: 50px;
  padding-bottom: 34px;
}
.postContent{
  color: white;
  font-weight: lighter;
  background-color: #353333;
  margin-bottom: 13px;
  border-radius: 13px;

}
.iconUsers{
  margin-left: 29px;
  padding-top: 7px;
}
.like img{
  width: 25px;
}
.like{
  margin-left: 524px;
}
.textlike{
  margin-bottom: 2px;
}
.textPost{
 padding-left: 61px;
  overflow-x:hidden;
}

/*Users*/
.usersStyle{
  padding: 9px;
  margin: 13px;
  background-color: #353333;
  width: 577px;
  margin-left: 466px;
  color: white;
}
.userscontent{
  display: flex;
  flex-direction: column;
}
.styleUsersButton{
  float: right;
}
.userscontent button{
  float: right;
  padding: 5px 20px 5px;
  margin-right: 20px;
  background-color: #2727ac;
  color: white;
  border: 1px solid cadetblue;
  cursor: pointer;
}
.userscontent button:hover{
  background-color: #6fbebe;
}
.grid-login{
  margin-left: 524px;
  margin-top: 75px;
  padding: 8px;
  padding-bottom: 42px;
  padding-top: 20px;
  padding-left: 32px;
  width: 456px;
  height: auto;
  background-color: #353333;
  color: white;
}
.grid-login button {
  padding: 1px 174px 4px;
  background-color: #3535a3;
  color: white;
  border: 1px;
  margin-top: 14px;
  padding-top: 8px;
}
.grid-login button:hover{
  background-color: #6a6aa0;
}
.grid-login .Formtext{
  text-align: center;
}
.grid-login .ErrorsText{
  color: red;
  padding: 8px;
  background-color: #5f3636;
  width: 400px;
  margin-top: 14px;
}
.Loginstyle{
  margin-left: 722px;
}
.styleUsersColom{
  margin-top: 61px;
  background-color: red;
  padding: 17px;
  background-color: #353333;
  color: white;
  border-radius: 13px;
}
.colomsUsersContainer{
  margin-bottom: 14px;
  background-color: #433f3f;
  display: flex;
  border-radius: 13px;
}
.loadigUersColoms{
  margin-top: 100px;
  color: white;
  text-align: center;
  font-size: 32px;
}
.titleUsersColoms{
  border-bottom: 2px solid #61dafb;
  text-align: center;
  margin-bottom: 19px;
  font-size: 25px;
}
.styleButtonUsersColoms button{
  padding: 6px 56px;
  color: white;
  background-color: #3636cf;
  border: 1px;
  margin-left: 62px;
  border-radius: 22px;
}
.styleButtonUsersColoms button:hover{
  background-color: #8887d5;
}
/*PagesUsers*/

.StylePages{
  background-color: #353333;
  margin-top: 21px;
  width: 800px;
  display: flex;
  color: white;
  margin-left: 21px;
  padding: 25px;
}